#input1{
 
    border-radius: 20px;
    height: 200px;
    width: 340px;
    margin-left:16px;
    font-size: large;
    border-style:none ;
    top: 160px;
}
body{
    background-image:url(th\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#text{
    color: white;
    margin-left: 80px;
    margin-top: 10px;
}
#button1{
    margin-left: 20px;
    height : 70px;
    width: 70px;
    border-radius: 30px;
    background-color: rgb(255, 157, 0);
    border-style: none;
    font-size: large;

}
#button2{
    margin-left: 20px;
    height : 70px;
    width: 70px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    border-style: none;
   font-size: large;
}
#button3{
    margin-left: 20px;
    height : 70px;
    width: 70px;
    border-radius: 30px;
    background-color: rgb(54, 202, 225);
    border-style: none;
    font-size: large;

   
}
